<div class="ui card ihram-card-full ihram-packet-card" id="packet-{{vm.packetDetail.id}}">
    <div class="content">
        <div class="ui stackable grid">
            <div class="nine wide ihram-img column" ng-class="vm.cardShared ? 'ihram-card-expand' : ''">
                <a class="header ihram-price" ng-click="vm.showDetail($event)"><img ng-src="{{vm.packetDetail.banner}}" style="width: 100%"></a>
            </div>
            <div class="seven wide column">
                <p>Harga mulai dari</p>
                <a class="header ihram-price" ng-click="vm.showDetail($event)">{{vm.packetDetail.harga}}<small>{{vm.packetDetail.hargaChild}}</small></a>
                <div class="meta">
                    <span class="date">{{vm.packetDetail.date}} Hari</span>
                </div>
                <div class="description">
                    <h3>{{vm.packetDetail.program}}</h3>
                    <span class="ihram-fasilitas">Fasilitas</span>
                    <span ng-init="star = [1,2,3,4,5];">
                        <i class="icon rating" ng-repeat="n in star" ng-class="n <= vm.packetDetail.fasilitas ? 'star' : 'empty star'"></i>
                    </span>
                </div>
                <p>Dapatkan diskon hingga Rp 500.000</p>
            </div>
        </div>
        <div class="ui stackable grid ihram-card-grid" ng-class="vm.cardShared ? '' : 'hide'">
            <div class="sixteen wide column">
                <button class="small ui facebook button" ng-click="vm.facebookShare(vm.packetDetail)"><i class="facebook icon"></i>Facebook</button>
                <div class="small ui action input">
                    <input type="text" value="{{vm.shareLink(vm.packetDetail)}}">
                    <button class="ui teal icon button btn-copy" ngclipboard data-clipboard-text="{{vm.shareLink(vm.packetDetail)}}"><i class="copy icon"></i></button>
                </div>
                <a href="#" class="ui hide-packet" ng-click="vm.showDetail($event)"><i class="chevron up icon"></i></a>
            </div>
            <div class="five wide column">
                <strong>Keberangkatan</strong>
                <div class="ui list">
                    <div class="item">
                        <i class="exchange icon"></i>
                        <div class="content">
                            <p>Rute Keberangkatan</p>
                            <p>{{vm.packetDetail.rute.keberangkatan ? vm.packetDetail.rute.keberangkatan : 'Tidak ada rincian'}}</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="exchange icon"></i>
                        <div class="content">
                            <p>Rute Kepulangan</p>
                            <p>{{vm.packetDetail.rute.kepulangan ? vm.packetDetail.rute.kepulangan : 'Tidak ada rincian'}}</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="book icon"></i>
                        <div class="content">
                            <p><a href="#" ng-click="vm.showSyarat(vm.packetDetail.id)">Syarat & Ketentuan</a></p>
                            <div class="ui small modal modal-syarat" id="syarat-{{vm.packetDetail.id}}">
                                <div class="header">
                                    <i class="checked calendar icon"></i> Syarat & Ketentuan
                                </div>
                                <div class="content">
                                    <div class="description" ng-bind-html="vm.asHtml(vm.packetDetail.syarat)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <strong>Harga Kamar</strong>
                <div class="ui list">
                    <div class="item">
                        <i class="bed icon"></i>
                        <div class="content price-head">
                            <p>Double <a href="#!" ng-click="vm.getDetail($event)" ng-if="vm.packetDetail.hargaDisc[1].anak || vm.packetDetail.hargaDisc[1].tanpa_ranjang"><i class="ellipsis vertical icon" style="margin: 0"></i>Detail</a></p>
                            <p>{{vm.formatPrice(vm.packetDetail.hargaAll[1])}}</p>
                            <div class="price-detail" style="display: none">
                                <p>Tanpa ranjang : <br>{{vm.formatPrice(vm.packetDetail.hargaDisc[1].anak)}}</p>
                                <p>Anak dgn ranjang : <br>{{vm.formatPrice(vm.packetDetail.hargaDisc[1].tanpa_ranjang)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="bed icon"></i>
                        <div class="content price-head">
                            <p>Triple <a href="#!" ng-click="vm.getDetail($event)" ng-if="vm.packetDetail.hargaDisc[2].anak || vm.packetDetail.hargaDisc[2].tanpa_ranjang"><i class="ellipsis vertical icon" style="margin: 0"></i>Detail</a></p>
                            <p>{{vm.formatPrice(vm.packetDetail.hargaAll[2])}}</p>
                            <div class="price-detail" style="display: none">
                                <p>Tanpa ranjang : <br>{{vm.formatPrice(vm.packetDetail.hargaDisc[2].anak)}}</p>
                                <p>Anak dgn ranjang : <br>{{vm.formatPrice(vm.packetDetail.hargaDisc[2].tanpa_ranjang)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="bed icon"></i>
                        <div class="content price-head">
                            <p>Quad <a href="#!" ng-click="vm.getDetail($event)" ng-if="vm.packetDetail.hargaDisc[3].anak || vm.packetDetail.hargaDisc[3].tanpa_ranjang"><i class="ellipsis vertical icon" style="margin: 0"></i>Detail</a></p>
                            <p>{{vm.formatPrice(vm.packetDetail.hargaAll[3])}}</p>
                            <div class="price-detail" style="display: none">
                                <p>Tanpa ranjang : <br>{{vm.formatPrice(vm.packetDetail.hargaDisc[3].anak)}}</p>
                                <p>Anak dgn ranjang : <br>{{vm.formatPrice(vm.packetDetail.hargaDisc[3].tanpa_ranjang)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <strong>Fasilitas</strong>
                <div class="ui list">
                    <div class="item">
                        <i class="plane icon"></i>
                        <div class="content">
                            <p>Maskapai</p>
                            <p>{{vm.packetDetail.maskapai ? vm.packetDetail.maskapai : 'Tidak ada rincian'}}</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="building icon"></i>
                        <div class="content">
                            <p>Hotel Makkah</p>
                            <p>{{vm.packetDetail.hotel.makkah ? vm.packetDetail.hotel.makkah : 'Tidak ada rincian'}}</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="building icon"></i>
                        <div class="content">
                            <p>Hotel Madinah</p>
                            <p>{{vm.packetDetail.hotel.madinah ? vm.packetDetail.hotel.madinah : 'Tidak ada rincian'}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <button class="fluid ui primary button" ng-click="vm.showBooking(vm.packetDetail)"><i class="checked calendar icon"></i>Pesan Sekarang</button>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.packetDetail.id && vm.cardShared">
    <h3>Paket lainnya mungkin anda tertarik</h3>
</div>
