<div class="ui card ihram-card-full ihram-packet-card" id="packet-{{vm.packetDetail.id}}">
    <div class="content">
        <div class="ui stackable grid">
            <div class="nine wide ihram-img column">
                <a class="header ihram-price" ng-click="vm.showDetail($event)"><img ng-src="{{vm.packetDetail.banner}}" style="width: 100%"></a>
            </div>
            <div class="seven wide column">
                <p>Harga mulai dari</p>
                <a class="header ihram-price" ng-click="vm.showDetail($event)">{{vm.packetDetail.harga}}<small>{{vm.packetDetail.hargaChild}}</small></a>
                <div class="meta">
                    <span class="date">{{vm.packetDetail.date}} Hari</span>
                </div>
                <div class="description">
                    <h3>{{vm.packetDetail.program}}</h3>
                    <span class="ihram-fasilitas">Fasilitas</span>
                    <span ng-init="star = [1,2,3,4,5];">
                        <i class="icon rating" ng-repeat="n in star" ng-class="n <= vm.packetDetail.fasilitas ? 'star' : 'empty star'"></i>
                    </span>
                </div>
                <p>Dapatkan diskon hingga Rp 500.000</p>
            </div>
        </div>
        <div class="ui stackable grid ihram-card-grid" ng-class="vm.cardShared ? '' : 'hide'">
            <div class="sixteen wide column">
                <button class="small ui facebook button"><i class="facebook icon"></i>Facebook</button>
                <div class="small ui action input">
                    <input type="text" value="{{vm.domain}}?packet={{vm.packetDetail.id}}#packet-{{vm.packetDetail.id}}">
                    <button class="ui teal icon button btn-copy" ngclipboard data-clipboard-text="{{vm.domain}}?packet={{vm.packetDetail.id}}#packet-{{vm.packetDetail.id}}"><i class="copy icon"></i></button>
                </div>
                <a href="#" class="ui hide-packet" ng-click="vm.showDetail($event)"><i class="chevron up icon"></i></a>
            </div>
            <div class="five wide column">
                <strong>Keberangkatan</strong>
                <div class="ui list">
                    <div class="item">
                        <i class="plane icon"></i>
                        <div class="content">
                            <p>Rute Keberangkatan</p>
                            <p>CGK - DOH - JED</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="plane icon"></i>
                        <div class="content">
                            <p>Rute Kepulangan</p>
                            <p>JED - DOH - CGK</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="book icon"></i>
                        <div class="content">
                            <p><a href="">Syarat & Ketentuan</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <strong>Harga Kamar</strong>
                <div class="ui list">
                    <div class="item">
                        <i class="bed icon"></i>
                        <div class="content">
                            <p>Double</p>
                            <p>Rp 25.000.000,00</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="bed icon"></i>
                        <div class="content">
                            <p>Triple</p>
                            <p>Rp 25.000.000,00</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="bed icon"></i>
                        <div class="content">
                            <p>Quad</p>
                            <p>Rp 25.000.000,00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <strong>Fasilitas</strong>
                <div class="ui list">
                    <div class="item">
                        <i class="users icon"></i>
                        <div class="content">
                            <p>Maskapai Qatar Airways</p>
                            <p>Tersisa 45 seat</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="building icon"></i>
                        <div class="content">
                            <p>Hotel Makkah</p>
                            <p> AL - Massa</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="building icon"></i>
                        <div class="content">
                            <p>Hotel Madinah</p>
                            <p>Fairoz Shatta Hotel</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <button class="fluid ui primary button" ng-click="vm.showBooking(vm.packetDetail.program, vm.packetDetail.date)"><i class="checked calendar icon"></i>Pesan Sekarang</button>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.packetDetail.id && vm.cardShared">
    <h3>Paket lainnya mungkin anda tertarik</h3>
</div>
