<div class="ui card ihram-card-full">
    <div class="content">
        <div class="header">Filter Paket</div>
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Keberangkatan</label>
                <div class="ui calendar" ng-model="$ctrl.date" id="filter-tanggal">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" placeholder="Tanggal">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Urutkan Packet</label>
                <select name="group" ng-model="$ctrl.sortPacket" class="ui search dropdown">
                    <option value="1">Paling Sesuai</option>
                    <option value="2">Paling Murah</option>
                    <option value="3">Paling Mahal</option>
                </select>
            </div>
        </div>
    </div>
    <div class="extra content">
        <button class="ui ihram-btn primary button">Tampilkan</button>
        <button class="ui ihram-btn black default button" ng-click="$ctrl.reset()">Reset</button>
    </div>
</div>
