<header class="ui ihram-bg container" ng-class="$ctrl.motivationMode ? 'small' : ''">
	<div ng-if="!$ctrl.motivationMode" class="ui ihram-header">
	    <h1>Cari Paket Umroh</h1>
	    <h2>Tentukan Paket umroh terbaik yang sesuai dengan kebutuhan Anda.</h2>
	    <ihram-search-packet group-data="$ctrl.headerData.group"></ihram-search-packet>
	</div>
	<div ng-if="$ctrl.motivationMode" class="ui ihram-header-quote">
		<h1><i class="quote left icon"></i>Et irure tempor minim laboris ea laborum fugiat esse.</h1>
		<h2><i class="quote minus icon"></i>Lorem Ipsum</h2>
	</div>
</header>
