<div class="ui container">
	<div class="ui divider"></div>
</div>
<div class="ui grid container ihram-packet-container stackable">
    <div class="six wide column">
        <ihram-filter filter-submit="vm.filterSubmit()"></ihram-filter>
        <br>
		<ihram-check-keberangkatan></ihram-check-keberangkatan>
    </div>
    <div class="ui ten wide column segment" ng-class="vm.loadingPage" id="list-packet">
		<ihram-packet-card ng-repeat="packet in vm.packetDataShare" card-data="packet" card-shared="true"></ihram-packet-card>
		<ihram-packet-card ng-repeat="packet in vm.packetData" card-data="packet"></ihram-packet-card>
        <button class="fluid ui button" ng-class="vm.loading" ng-click="vm.loadMore()">Berikutnya</button>
    </div>
</div>

<div class="ui small modal" id="booking">
    <div class="header">
        <i class="checked calendar icon"></i> Booking
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header text-left" id="title-card"></div>
            <p>Harga Paket Sudah Termasuk Perlengkapan Umroh.</p>
            <br>
            <div id="completed" style="display: none" class="ui checkmark-container"></div>
            <form name="jamaahForm" id="formPotensial" novalidate class="ui form">
	            <h3 class="ui dividing header">Data Pribadi<a class="anchor" id="types"></a></h3>
				<div class="field" ng-class="{'error' : jamaahForm.name.$invalid && !jamaahForm.name.$pristine}">
				    <label>Nama</label>
				    <div class="fields">
				        <div class="seven wide field">
				            <input name="name" type="text" placeholder="Nama lengkap" maxlength="100" required ng-model="vm.jamaah.name">
				        </div>
				    </div>
				</div>
				<div class="field" ng-class="{'error' : jamaahForm.phone.$invalid && !jamaahForm.phone.$pristine}">
				    <label>Nomor Telepon</label>
				    <div class="fields">
				        <div class="five wide field">
				            <input name="phone" type="number" placeholder="085522277788" maxlength="12" required ng-model="vm.jamaah.phone">
				        </div>
			        </div>
				</div>
				<div class="field" ng-class="{'error' : jamaahForm.email.$invalid && !jamaahForm.email.$pristine}">
				    <label>Email</label>
				    <div class="fields">
				        <div class="six wide field">
				            <input type="email" name="email" placeholder="contoh@email.com" maxlength="100" required ng-model="vm.jamaah.email">
				        </div>
					</div>
				</div>
				<div class="field" ng-class="{'error' : jamaahForm.address.$invalid && !jamaahForm.address.$pristine}">
				    <label>Alamat</label>
				    <div class="fields">
				        <div class="eight wide field">
						    <textarea rows="2" required ng-model="vm.jamaah.address"></textarea>
				        </div>
					</div>
				</div>
				<p>Setelah selesai melengkapi data kami akan menghubungi anda, untuk detail lebih lanjut.</p>
			</form>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">
            Kembali
        </div>
        <div class="ui primary left labeled icon button" ng-click="vm.submitJamaah()" id="submitJamaah" ng-class="vm.jamaah.name && vm.jamaah.phone && vm.jamaah.email && vm.jamaah.address ? '' : 'disabled'">
            <i class="checkmark icon"></i>
            Selesai
        </div>
    </div>
</div>