<div id="app-container">
	<ihram-nav-mobile nav-data="vm.nav" class="ui vertical inverted sidebar menu left"></ihram-nav-mobile>
	<div class="pusher">
	    <div class="ui inverted center aligned ihram-section-header segment" style="{{vm.header.banner}}">
	        <ihram-nav nav-data="vm.nav"></ihram-nav>
	        <ihram-header header-data="vm.header" small-mode="true"></ihram-header>
	    </div>
		<div class="ui ihram-section-content segment">
			<div class="ui grid container stackable ihram-padding ihram-desc">
			    <div class="two wide column">
			    	<h2>Deskripsi</h2>
				</div>
			    <div class="fourteen wide column">
			    	<p>{{vm.description.desc}}</p>
				</div>
			    <div class="two wide column">
			    	<h2>Legalitas</h2>
				</div>
			    <div class="fourteen wide column">
			    	<div class="ui grid stackable">
			    		<div class="eight wide column">
							<div class="ui items">
								<div class="item" ng-repeat="icon in vm.newIcons.firstRow">
									<div class="ui circular image ihram-bagde">
										<img ng-src="{{icon.icon}}">
									</div>
									<div class="middle aligned content">
										<p>{{icon.desc}}</p>
									</div>
								</div>
							</div>
			    		</div>
			    		<div class="eight wide column">
							<div class="ui items">
								<div class="item" ng-repeat="icon in vm.newIcons.lastRow">
									<div class="ui circular image ihram-bagde">
										<img ng-src="{{icon.icon}}">
									</div>
									<div class="middle aligned content">
										<p>{{icon.desc}}</p>
									</div>
								</div>
							</div>
			    		</div>
			    	</div>
				</div>
			    <div class="two wide column">
			    	<h2>Informasi</h2>
				</div>
				<div class="fourteen wide column">
					<div class="ui grid stackable">
						<div class="eight wide column">
							<p><strong>{{vm.description.company}}</strong> <br> {{vm.description.address}}</p>
						</div>
						<div class="eight wide column">
							<p>Email : {{vm.description.email}} <br> Phone : {{vm.description.phone}}</p>
						</div>
					</div>
					<iframe frameborder="0" class="ui ihram-map" src="{{vm.description.map}}" allowfullscreen></iframe>
				</div>
			</div>
			<ihram-title title-data="Paket Umroh Terbaru"></ihram-title>
			<ihram-packet></ihram-packet>
	    </div>
		<div class="ui ihram-section-footer segment">
			<ihram-footer footer-data="vm.footer"></ihram-footer>
		</div>
	</div>
</div>

<div class="ui ihram-error full" ng-if="!vm.footer">
</div>