<div class="ui two column centered stackable grid">
    <div class="four column stackable grid centered row">
        <div class="column">
            <div class="ui form">
                <div class="field">
                    <select name="group" ng-model="$ctrl.model.selectedGroup" ng-change="$ctrl.getProgram()" class="ui search dropdown ihram-form">
                        <option value="">Pilih Group Keberangkatan</option>
                        <option ng-repeat="group in $ctrl.groupData" value="{{group.id}}">{{group.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui form">
                <div class="field">
                    <select name="group" class="ui search dropdown ihram-form" id="ihram-select-program">
                        <option value="">Pilih Program</option>
                        <option ng-repeat="program in programData" value="{{program.id}}">{{program.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="column center aligned">
        <button type="button" class="ui button ihram-btn">Lihat Detail</button>
    </div>
</div>
